version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.4-buster
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip3 install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            cd tests/unit
            python3 -m unittest discover
      - store_artifacts:
          path: test-reports/
          destination: cilantro_audit

